---
layout: default
---
<div class="container">
  <div class="hero">
    <div class="hero__container-top">
      <h1 class="h1-hero">
        Hi,<br />
        I'm Sharon Peng.<br />
        A UI/UX Designer based<br />
        in Sydney. I like making human centric digital products.
      </h1>
    </div>
    <div class="hero__container-bottom">
      <button class="button-plain button-with-icon" id="scroll-button">
        <div class="icon-arrow-down animate"></div>
      </button>
    </div>
  </div>
  <div id="projects">
    {% for post in site.posts %}
      {% include project-preview.html %}
    {% endfor %}
  </div>
</div>
{% include cta-contact.html %}
