html, body, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.all-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gradient {
  width: 100%;
}

body,footer {
  margin: 0;
  background-color: #eee;
}

h1,h2,h3, footer {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #5a5a5a;
  margin: 0;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 40px;
}

h3 {
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  background: linear-gradient(180deg, #fff200, #ff0099, #00a651, #0099ff, #ff9933, #993399);
  background-size: 1200% 1200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation: AnimationName 59s ease infinite;
  -moz-animation: AnimationName 59s ease infinite;
  animation: AnimationName 59s ease infinite;
}

@media (max-width: 420px) {
  h3 {
    font-size: 50px;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

footer {
  color: #4a4a4a;
  font-size: 7px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0;
}
