$colour-black: #333;
$white: #fff;
$grey-dark: #4a4a4a;
$grey-darker: #4d4d4d;
$grey: #585858;
$grey-light: #6d6d6d;

// Colours used for gradient animation
$cherokee: #fbc98e;
$dolly: #fff87f;
$lilac: #c893c7;
$malibu: #7fd6f7;
$persian-pink: #f67fc5;

$portafino: #fffbb2;
$lavender-pink: #fab2dc;
$light-apricot: #fddfbb;
$thistle: #debedd;
$chrome-white: #ddeec5;
$sail: #b2e7fa;
