$font-family-primary: 'Galano', sans-serif;
$font-family-secondary: 'Roboto Mono', serif;

$font-size-base: 13px;
$font-size-xxs: 0.6875rem; // 11px
$font-size-xs: 0.8125rem; // 13px
$font-size-sm: 0.9375rem; // 15px

$font-size-h1: 1.875rem; // 30px
$font-size-h1-med: 2.8125rem; // 45px
$font-size-h1-lg: 3.75rem; // 60px
$font-size-h1-hero: 1.75rem; // 28px
$font-size-h1-hero-med: 2.375rem; // 38px
$font-size-h1-hero-lg: 3rem; // 48px
$font-size-h2-cta: 1.667rem; // 25px
$font-size-h3: 1.25rem; // 20px
$font-size-h3-med: 1.875rem; // 30px

$bold: 700;
$black: 900;

$letter-spacing: 0.9px;
