.nav {
  float: right;
  font-family: $font-family-primary;
  font-size: 13px;

  @include media-up($bp-med) {
    font-size: 13px;
  }
}

.nav__navbar {
  li {
    display: inline;
    letter-spacing: $letter-spacing;
    margin-right: $spacer-base;
    text-transform: uppercase;

    @include media-up($bp-med) {
      margin-right: $spacer-2;
    }

    @include media-up($bp-lg) {
      margin-right: $spacer-4;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend %link-hover;
  }
}
