.project-preview {
  height: 80vh;
  padding-top: 80px;

  @include media-up($bp-med) {
    height: 100vh;
    padding-top: $spacer-8;
  }

  &:last-child {
    .project-preview__container-bottom {
      display: none;
    }
  }
}

.project-preview__container-top {
  height: 80%;
  padding-left: $spacer-base;
  padding-right: $spacer-base;
  position: relative;

  @include media-up($bp-med) {
    padding-left: $spacer-2;
    padding-right: $spacer-2;
  }

  &:hover {
    .project-image::after {
      background-color: transparent;
    }

    .h1-project u {
      border-bottom: 7px solid $colour-black;
    }
  }

  .h1-project {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    u {
      border-bottom: 0 solid $colour-black;
      transition: border 100ms linear;
    }
  }
}

.project-preview__container-bottom {
  @extend %flex-end;

  height: 20%;
  padding-bottom: $spacer-base * 1.5;

  .icon-arrow-down {
    @extend %margin-centre;
  }
}

.project-image {
  background-color: $white;
  float: right;
  height: 100%;
  position: relative;
  width: 100%;

  &::after {
    background-color: rgba($white, .6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 300ms linear;
    width: 100%;
  }
}
