---
layout: static-gradient
---
<div class="hero hero--alt hero-image" style="background-image: url({{ page.project_hero_image }});">
  <div class="container">
    <div class="hero__container-top hero__container-flex">
      <h1 class="h1-hero h1-project">{{ page.project_title }}</h1>
      {% if page.link %}
      <a class="button-plain link" href="{{ page.link }}" target="_blank">Visit site</a>
      {% endif %}
    </div>
    <div class="hero__container-bottom">
      <!-- <div class="icon-arrow-down"></div> -->
    </div>
  </div>
</div>
<div class="project-detail__content" style="background: {{ page.gradient }}">
  <div class="project-detail__wrapper">
    <div class="container">
      <div class="text-box {% if page.alt_layout %}project-detail__alt-box{% endif %}">
        <div class="project-detail__categories">
          {% if page.agency %}
            <div class="label-group">
              <p class="label">Agency</p>
              <p>{{ page.agency }}</p>
            </div>
          {% endif %}
          {% if page.client %}
            <div class="label-group">
              <p class="label">Client</p>
              <p>{{ page.client }}</p>
            </div>
          {% endif %}
          {% if page.position %}
            <div class="label-group">
              <p class="label">Position</p>
              <p>{{ page.position }}</p>
            </div>
          {% endif %}
          {% if page.scope %}
            <div class="label-group">
              <p class="label">Scope</p>
              <p>{{ page.scope }}</p>
            </div>
          {% endif %}
        </div>
        <div class="clearfix">
          <p class="project-detail__primary-content">{{ page.primary_content }}</p>
          {% if page.alt_layout_image %}
            <div class="project-detail__image project-detail__image--alt">
              <img src="{{ page.alt_layout_image }}" />
            </div>
          {% endif %}
        </div>
        <div class="project-detail__body">
          {% if page.secondary_content %}
            <p class="project-detail__secondary-content">{{ page.secondary_content }}</p>
          {% endif %}
          {% for item in page.images %}
            <img class="{{ item.classes }}" src="{{ item.url }}" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cta__group">
  {% include cta-next-project.html %}
  {% include cta-contact.html %}
</div>
