---
layout: static-gradient
---
<div class="hero hero--alt hero-image" style="background-image: url({{ page.project_hero_image }});">
  <div class="container">
    <div class="hero__container-top hero__container-flex">
      <h1 class="h1-hero h1-project">{{ page.project_title }}</h1>
      {% if page.link %}
      <a class="button-plain link" href="{{ page.link }}" target="_blank">Visit site</a>
      {% endif %}
    </div>
    <div class="hero__container-bottom">
      <!-- <div class="icon-arrow-down"></div> -->
    </div>
  </div>
</div>
<div class="project-detail__content" style="background: {{ page.gradient }}">
  <div class="project-detail__wrapper">
    <div class="container">
      <div class="text-box {% if page.alt_layout %}project-detail__alt-box{% endif %}">
        <div class="project-detail__categories">
          {% if page.agency %}
            <div class="label-group">
              <p class="label">Agency</p>
              <p>{{ page.agency }}</p>
            </div>
          {% endif %}
          {% if page.client %}
            <div class="label-group">
              <p class="label">Client</p>
              <p>{{ page.client }}</p>
            </div>
          {% endif %}
          {% if page.position %}
            <div class="label-group">
              <p class="label">Position</p>
              <p>{{ page.position }}</p>
            </div>
          {% endif %}
          {% if page.scope %}
            <div class="label-group">
              <p class="label">Scope</p>
              <p>{{ page.scope }}</p>
            </div>
          {% endif %}
        </div>
        <div class="clearfix">
          <p class="project-detail__primary-content">{{ page.primary_content }}</p>
          <div class="project-detail__image {% if page.alt_layout %}project-detail__image--alt{% endif %}">
            <img src="{{ page.project_image_1 }}" />
          </div>
        </div>
        {% if page.project_image_2 %}
          <div class="project-detail__body">
            <img class="project-detail__image" src="{{ page.project_image_2 }}" />
            {% if page.secondary_content %}
              <p class="project-detail__secondary-content">{{ page.secondary_content }}</p>
            {% endif %}
            {% if page.project_image_3 %}
              {% if page.half_content %}
                <div class="half-content">
                  {% if page.project_image_3 %}
                  <img class="project-detail__image" src="{{ page.project_image_3 }}" />
                  {% endif %}
                  {% if page.project_image_4 %}
                  <img class="project-detail__image" src="{{ page.project_image_4 }}" />
                  {% endif %}
                </div>
              {% else %}
                <img class="project-detail__image" src="{{ page.project_image_3 }}" />
              {% endif %}
            {% endif %}
            {% if page.project_image_5 %}
            <img class="project-detail__image" src="{{ page.project_image_5 }}" />
            {% endif %}
            {% if page.project_image_6 %}
            <img class="project-detail__image" src="{{ page.project_image_6 }}" />
            {% endif %}
            {% if page.project_image_7 %}
            <div class="half-content">
              {% if page.project_image_7 %}
              <img class="project-detail__image" src="{{ page.project_image_7 }}" />
              {% endif %}
              {% if page.project_image_8 %}
              <img class="project-detail__image" src="{{ page.project_image_8 }}" />
              {% endif %}
            </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="cta__group">
  {% include cta-next-project.html %}
  {% include cta-contact.html %}
</div>
